{% extends 'core/base.html' %}

{% block title %}About Us{% endblock title %}

{% block main_content %}
{% load static %}
<style>
    ol li, ul li {
         list-style: outside none none; 
      }
</style>

<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h1>About US</h1>
        </div>
        <p style="padding: 0 5%;">
            We are students of computer science stream. 
            we are working on the project since 1 October 2021. 
            We contributed our skills our knowledge on this.
            As we know about unfair choice of candidates.
            By shortlisting many of the issues going we have find the soluion on the situation and implemented in this project.
        </p>
        <div class="row heading heading-icon">
            <h1>Our Team </h1>
        </div>
        <ul class="row">
        <li class="col-12 col-md-6 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3><a href="http://www.webcoderskull.com/">Suraj Mali</a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
                <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
                <h3><a href="http://www.webcoderskull.com/">Akash Patil </a></h3>
                <p>Freelance Web Developer</p>
                <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-4">
            <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Pratik Sabale </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            </div>
        </li>
        </ul>
    </div>

</section>

{% endblock main_content %}