{% extends 'core/base.html' %}
{% csrf_token %}
{% block title %}{% endblock title %}

{% block main_content %}
<!-- {% load static %} -->

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Congrats! </strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endfor %}


    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                
            <br>
            <br>
            <br>
                <p>Please Download your Curriculum vitae here</p>
        
                <img src="https://cdn.pixabay.com/photo/2016/12/18/13/45/download-1915753_1280.png" alt="" style="height: 10em;">
                <br>
                <a href="{% static 'core/downloads/cvtemplate.docx'%}"><button type="button" class="btn btn-primary" style="margin-left: 5%;">Download</button></a>
            </div>


        <div class="col-lg-6">
            <br>
            <br>
            <br>
            <p> Please upload your Curriculum vitae here(Docx File)</p>  
            <form method="POST" action="upload" enctype="multipart/form-data">
            {% csrf_token %}

        <img src="https://www.kindpng.com/picc/m/26-268623_upload-logo-png-transparent-png.png" alt="" style="height: 10em;">
        <br>
        <input type="file" name="file" required="">
        <button type="submit" class="btn btn-primary" style="margin-left: 10%;">Upload</button>
        <br>
        <br>
        
          </div>
        </form>
            </div>
        </div>
    </div>
    <a href="start_apti"><button style="float: right;" type="submit" class="btn btn-primary">Next</button></a>
    <br>
   


   

{% endblock main_content %}